.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .mainLogo {
    height: 180px;
  }

  .SelectButton {
    position: absolute;
    top: 50%;
    width: 128px;
    height: 48px;
    z-index: 99;
    transition: 0.5s;

    button {
      width: 100%;
      height: 100%;
      font-size: 16px;
      text-align: left;
      background: transparent;
      border: 3px solid #e8b245;
      color: #313538;
      font-weight: 600;
      z-index: 99;
      transition: 0.5s;

      span {
        font-size: 24px;
        position: absolute;
        left: 76%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 64%;
      width: 3px;
      height: 100%;
      background: #e8b245;
      transition: 0.5s;
      z-index: -1;
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      width: 0;
      height: 100%;
      background: #e8b245;
      transition: 0.5s;
      z-index: -1;
    }

    &:hover {
      &:after {
        width: 64%;
      }

      button {
        color: #fff;

        span {
          color: #e8b245;
          animation: smallMovement 1.5s infinite ease-out;
        }
      }
    }
  }

  @keyframes smallMovement {
    0% {
      transform: translate(-5px, -50%);
    }

    80% {
      transform: translate(5px, -50%);
    }

    100% {
      transform: translate(5px, -50%);
    }
  }
}
