.Card {
  text-align: center;
  outline: none;
  transition: 0.5s;

  &:active {
    transform: scale(1.1);
  }
  &:disabled {
    cursor: not-allowed;
  }

  span {
    opacity: 1;
    transition: 1s;
    transition-delay: 2s;
    padding-top: 15px;
    height: 100%;
  }

  *:hover {
    cursor: context-menu;
  }

  &.-hidden {
    span {
      animation: hide 0.2s forwards;
      animation-delay: 1s;
    }
  }

  &.-succes {
    box-shadow: 0px 0px 5px 3px #28a745;
  }

  @keyframes hide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
