@import "./mixins";
@import "./variables";

html {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .App {
    width: 100%;
    height: 100%;
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 8px;
}
.m-2 {
  margin: 16px;
}
.m-3 {
  margin: 24px;
}
.m-4 {
  margin: 32px;
}
.m-5 {
  margin: 40px;
}
.m-6 {
  margin: 48px;
}
.m-7 {
  margin: 56px;
}
.m-8 {
  margin: 64px;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.my-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-6 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.my-7 {
  margin-top: 56px;
  margin-bottom: 56px;
}
.my-8 {
  margin-top: 64px;
  margin-bottom: 64px;
}
.mx-0 {
  margin-right: 0;
  margin-left: 0;
}
.mx-1 {
  margin-right: 8px;
  margin-left: 8px;
}
.mx-2 {
  margin-right: 16px;
  margin-left: 16px;
}
.mx-3 {
  margin-right: 24px;
  margin-left: 24px;
}
.mx-4 {
  margin-right: 32px;
  margin-left: 32px;
}
.mx-5 {
  margin-right: 40px;
  margin-left: 40px;
}
.mx-6 {
  margin-right: 48px;
  margin-left: 48px;
}
.mx-7 {
  margin-right: 56px;
  margin-left: 56px;
}
.mx-8 {
  margin-right: 64px;
  margin-left: 64px;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}
.mt-4 {
  margin-top: 32px;
}
.mt-5 {
  margin-top: 40px;
}
.mt-6 {
  margin-top: 48px;
}
.mt-7 {
  margin-top: 56px;
}
.mt-8 {
  margin-top: 64px;
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 8px;
}
.mr-2 {
  margin-right: 16px;
}
.mr-3 {
  margin-right: 24px;
}
.mr-4 {
  margin-right: 32px;
}
.mr-5 {
  margin-right: 40px;
}
.mr-6 {
  margin-right: 48px;
}
.mr-7 {
  margin-right: 56px;
}
.mr-8 {
  margin-right: 64px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.mb-5 {
  margin-bottom: 40px;
}
.mb-6 {
  margin-bottom: 48px;
}
.mb-7 {
  margin-bottom: 56px;
}
.mb-8 {
  margin-bottom: 64px;
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 8px;
}
.ml-2 {
  margin-left: 16px;
}
.ml-3 {
  margin-left: 24px;
}
.ml-4 {
  margin-left: 32px;
}
.ml-5 {
  margin-left: 40px;
}
.ml-6 {
  margin-left: 48px;
}
.ml-7 {
  margin-left: 56px;
}
.ml-8 {
  margin-left: 64px;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 8px;
}
.p-2 {
  padding: 16px;
}
.p-3 {
  padding: 24px;
}
.p-4 {
  padding: 32px;
}
.p-5 {
  padding: 40px;
}
.p-6 {
  padding: 48px;
}
.p-7 {
  padding: 56px;
}
.p-8 {
  padding: 64px;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-5 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-6 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-7 {
  padding-top: 56px;
  padding-bottom: 56px;
}
.py-8 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.px-0 {
  padding-right: 0;
  padding-left: 0;
}
.px-1 {
  padding-right: 8px;
  padding-left: 8px;
}
.px-2 {
  padding-right: 16px;
  padding-left: 16px;
}
.px-3 {
  padding-right: 24px;
  padding-left: 24px;
}
.px-4 {
  padding-right: 32px;
  padding-left: 32px;
}
.px-5 {
  padding-right: 40px;
  padding-left: 40px;
}
.px-6 {
  padding-right: 48px;
  padding-left: 48px;
}
.px-7 {
  padding-right: 56px;
  padding-left: 56px;
}
.px-8 {
  padding-right: 64px;
  padding-left: 64px;
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 8px;
}
.pt-2 {
  padding-top: 16px;
}
.pt-3 {
  padding-top: 24px;
}
.pt-4 {
  padding-top: 32px;
}
.pt-5 {
  padding-top: 40px;
}
.pt-6 {
  padding-top: 48px;
}
.pt-7 {
  padding-top: 56px;
}
.pt-8 {
  padding-top: 64px;
}
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 8px;
}
.pr-2 {
  padding-right: 16px;
}
.pr-3 {
  padding-right: 24px;
}
.pr-4 {
  padding-right: 32px;
}
.pr-5 {
  padding-right: 40px;
}
.pr-6 {
  padding-right: 48px;
}
.pr-7 {
  padding-right: 56px;
}
.pr-8 {
  padding-right: 64px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 8px;
}
.pb-2 {
  padding-bottom: 16px;
}
.pb-3 {
  padding-bottom: 24px;
}
.pb-4 {
  padding-bottom: 32px;
}
.pb-5 {
  padding-bottom: 40px;
}
.pb-6 {
  padding-bottom: 48px;
}
.pb-7 {
  padding-bottom: 56px;
}
.pb-8 {
  padding-bottom: 64px;
}
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 8px;
}
.pl-2 {
  padding-left: 16px;
}
.pl-3 {
  padding-left: 24px;
}
.pl-4 {
  padding-left: 32px;
}
.pl-5 {
  padding-left: 40px;
}
.pl-6 {
  padding-left: 48px;
}
.pl-7 {
  padding-left: 56px;
}
.pl-8 {
  padding-left: 64px;
}
.t-0 {
  top: 0;
}
.t-1 {
  top: 8px;
}
.t-2 {
  top: 16px;
}
.t-3 {
  top: 24px;
}
.t-4 {
  top: 32px;
}
.t-5 {
  top: 40px;
}
.t-6 {
  top: 48px;
}
.t-7 {
  top: 56px;
}
.t-8 {
  top: 64px;
}
.r-0 {
  right: 0;
}
.r-1 {
  right: 8px;
}
.r-2 {
  right: 16px;
}
.r-3 {
  right: 24px;
}
.r-4 {
  right: 32px;
}
.r-5 {
  right: 40px;
}
.r-6 {
  right: 48px;
}
.r-7 {
  right: 56px;
}
.r-8 {
  right: 64px;
}
.b-0 {
  bottom: 0;
}
.b-1 {
  bottom: 8px;
}
.b-2 {
  bottom: 16px;
}
.b-3 {
  bottom: 24px;
}
.b-4 {
  bottom: 32px;
}
.b-5 {
  bottom: 40px;
}
.b-6 {
  bottom: 48px;
}
.b-7 {
  bottom: 56px;
}
.b-8 {
  bottom: 64px;
}
.l-0 {
  left: 0;
}
.l-1 {
  left: 8px;
}
.l-2 {
  left: 16px;
}
.l-3 {
  left: 24px;
}
.l-4 {
  left: 32px;
}
.l-5 {
  left: 40px;
}
.l-6 {
  left: 48px;
}
.l-7 {
  left: 56px;
}
.l-8 {
  left: 64px;
}
.lh-1 {
  line-height: 8px;
}
.lh-2 {
  line-height: 16px;
}
.lh-3 {
  line-height: 24px;
}
.lh-4 {
  line-height: 32px;
}
.lh-5 {
  line-height: 40px;
}
.lh-6 {
  line-height: 48px;
}
.lh-7 {
  line-height: 56px;
}
.lh-8 {
  line-height: 64px;
}
.s-1 {
  width: 8px;
  height: 8px;
}
.s-2 {
  width: 16px;
  height: 16px;
}
.s-3 {
  width: 24px;
  height: 24px;
}
.s-4 {
  width: 32px;
  height: 32px;
}
.s-5 {
  width: 40px;
  height: 40px;
}
.s-6 {
  width: 48px;
  height: 48px;
}
.s-7 {
  width: 56px;
  height: 56px;
}
.s-8 {
  width: 64px;
  height: 64px;
}
.w-1 {
  width: 8px;
}
.w-2 {
  width: 16px;
}
.w-3 {
  width: 24px;
}
.w-4 {
  width: 32px;
}
.w-5 {
  width: 40px;
}
.w-6 {
  width: 48px;
}
.w-7 {
  width: 56px;
}
.w-8 {
  width: 64px;
}
.h-1 {
  height: 8px;
}
.h-2 {
  height: 16px;
}
.h-3 {
  height: 24px;
}
.h-4 {
  height: 32px;
}
.h-5 {
  height: 40px;
}
.h-6 {
  height: 48px;
}
.h-7 {
  height: 56px;
}
.h-8 {
  height: 64px;
}
