.Mohjang {
  max-width: 920px;
  position: relative;

  .Mohjang-table {
    display: grid;
    grid-template-columns: repeat(10, 64px);
    grid-auto-rows: 60px;
    justify-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    margin: 0 auto;
  }

  .Score-meter {
    font-size: 16px;
    position: absolute;
    top: 0;
    box-shadow: none;

    .success {
      color: #28a745;
    }
  }

  &::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .paired {
    box-shadow: 0px 0px 3px 3px #00000021 !important;
  }
}

.Mohjang-table > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.Mohjang-table > * {
  box-shadow: 0px 0px 5px 3px #0000000d;
  border: 1px #fafafa;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
